@page "/"

<div class="wrapper d-flex">
    <div class="room d-flex">

        <div class="main">
            <div class="map" tabindex="-1">
                <img src="/assets/map.png" />
                <div class="players">

                </div>
            </div>
            <div class="me">
                <input type="text" class="form-control" autofocus value=message/>
            </div>
        </div>
    </div>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
     
    }

    private async void OnKeyPress(KeyboardEventArgs args)
    {
        switch (args.Key)
        {

            case "ArrowUp":
                break;
            case "ArrowDown":
                break;
            case "ArrowRight":
                break;
            case "ArrowLeft":
                break;
            case "Enter":
                break;
            default:
                break;

        }
    }
}

<style>

    .wrapper {
        background: black;
        position: absolute;
        height: 100%;
        width: 100%;
    }

    .room {
        background: green;
        margin: auto;
    }

    .map {
        background: gray;
        margin: auto;
        position: relative;
    }

        .map img {
            width: 896px;
            height: 608px;
        }

    .map {
    }

</style>
