@page "/Game"
@inject NavigationManager NavigationManager;

<div class="wrapper d-flex">
    <div class="room d-flex">
        @*<div class="playerslist">
            <PlayerList />
        </div>
*@
        <div class="main">
            <div class="map" tabindex="-1">
                <img src="/assets/map.png" />
                <div class="players">
                    @foreach (var item in Server.Players)
                    {
                        <PlayerAvatar @key="item.Name" Player="@item" />
                    }
                </div>
            </div>
            <div class="me">
                <input type="text" class="form-control" autofocus @bind-value=message @bind-value:event="oninput" @onkeydown="OnKeyPress" />
            </div>
        </div>

    </div>
</div>

@code {
    [Inject] private GameServer Server { get; set; }
    string message = "";

    protected override async Task OnInitializedAsync()
    {
        Server.PlayersChanged += (s, a) =>
     {
         StateHasChanged();
     };
    }

    private async void OnKeyPress(KeyboardEventArgs args)
    {
        switch (args.Key)
        {

            case "ArrowUp":
                Server.Move(EDirection.Up);
                break;
            case "ArrowDown":
                Server.Move(EDirection.Down);
                break;
            case "ArrowRight":
                Server.Move(EDirection.Right);
                break;
            case "ArrowLeft":
                Server.Move(EDirection.Left);
                break;
            case "Enter":
                await Server.Speak(message);
                message = "";
                break;
            default:
                break;

        }
    }
}

<style>

    .wrapper {
        background: black;
        position: absolute;
        height: 100%;
        width: 100%;
    }

    .playerslist {
        background: red;
        position: inherit;
    }

    .players {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
    }

    .room {
        background: green;
        margin: auto;
    }

    .map {
        background: gray;
        margin: auto;
        position: relative;
    }

        .map img {
            width: 896px;
            height: 608px;
        }

    .map {
    }

</style>
